@import '../../variables';

.result-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 20px;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0;
    border: 3px solid $c_dark; 
    text-align: center;
    position: relative;
    transition: height $transition-constant;
    overflow: hidden;
    height: 185px;

    &.details {
        height: auto;
    }
}

.badge {
    grid-column: 1;
    grid-row: 1;
    text-align: center;
}

.main {
    grid-column: 2;
    grid-row: 1;
}

.name {
    font-weight: 700;
    font-size: $f_large;
}

.full-name {
    font-weight: 400;
    font-size: $f_large;
}

$badge-width: 120px;
.avatar {
    width: $badge-width;
}

.owner {
    font-size: $f_normal;
    max-width: $badge-width;
    overflow: hidden;
    text-overflow: ellipsis;
}

.url {
    font-size: $f_normal;
}

.stats {
    grid-column: 1;
    grid-row: 2;
    white-space: nowrap;
    font-size: $f_normal;
    text-align: left;
}

.stat-value {
    font-weight: 700;
    text-align: right;
}

.issues {
    width: 100%;
}

.description {
    grid-column: 2;
    grid-row: 2;
    display: inline-block;
    font-size: $f_large;
    padding-bottom: 18px;
}

.charts {
    grid-column: 1/3;
    grid-row: 3;
    display: flex;
    justify-content: space-evenly;
}

.commit-spinner {
    width: 300px;
    height: 200px;
}

.pr-spinner {
    width: 400px;
    height: 200px;
}

.more {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.btn {
    background-color: transparent;
    border: 1px solid $c_dark;
    transition: transform $transition-constant;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}


