<div class="githubber">
  <app-search
    [searchDone]="results.length > 0"
    (onSearch)="onSearch($event)"
    class="search">
  </app-search>
  <app-result-list 
    [results]="results"
    [totalItems]="totalItems"
    [currentPage]="currentPage"
    [issues]="issues"
    [isIssuesPanelOpen]="isIssuesPanelOpen"
    [issuesCount]="issuesCount"
    [issuesUrl]="issuesUrl"
    (onGetPage)="onGetPage($event)"
    (onShowCharts)="onShowCharts($event)"
    (onGetIssues)="onGetIssues($event)"
    (onCloseIssuesPanel)="onCloseIssuesPanel()">
  </app-result-list>
  <app-spinner *ngIf="spinnerVisible"></app-spinner>
</div>