@import '../../variables';

.issues-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.issues {
    max-height: 90vh;
    overflow-y: auto;
    background-color: $c-bg;
}