@import '../../variables';

.issues-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.issues {
    max-height: 90vh;
    overflow-y: auto;
    background-color: $c-bg;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    padding: 30px;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    width: 20px;
    height: 20px;
    background-size: cover;
    background-color: transparent;
    background-image: url('../../assets/close-button.svg');
    cursor: pointer;
    transition: transform $transition-constant;

    &:hover {
        transform: scale(1.1);
    }
}