$c-bg: #f3f3f3;
$c-dark: #04080f;
$c-light: #F7F7FF;
$c-border: #999;
$c-ok: #3eb650;
$c-warn: #fcc133;
$c-error: #e12b38;

$transition-constant: .3s ease-in;

$f_normal: 16px;
$f_large: 20px;
$f_small: 12px;